{% extends "base.html" %}
{% block title %}Change you password{% endblock %}
{% block content %}
    <h1 xmlns="http://www.w3.org/1999/html">Change you password</h1>
 <p>Use the form below to change your password.</p>
 <form action="." method="post">



  {% for field in form %}
<p>
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    <div class="password-helper">
        {{ field.help_text|safe }}
    </div>
</p>
  {% endfor %}


 <p><input type="submit" value="Change"></p>
 {% csrf_token %}
 </form>
{% endblock %}